@using Jp.UI.SSO.Models
@model Jp.UI.SSO.Models.LoggedOutViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    // set this so the layout rendering sees an anonymous user
    ViewData["signed-out"] = true;
    Layout = "~/Views/Shared/_LayoutExt3.cshtml";
}
<div class="vertical-centered">
    <div class="align-items-center p-12-44">
        <h1 style=" padding: 0 !important;">@Localizer["Title-You-are-now-logged-out"]</h1>
        <span>

            @if (!string.IsNullOrEmpty(Model.PostLogoutRedirectUri))
            {
                <div>
                    @Localizer["Body-Click"] <a class="PostLogoutRedirectUri" href="@Model.PostLogoutRedirectUri">@Localizer["Body-here"]</a> @Localizer["Body-to-return"]
                    <span>@Model.ClientName</span> @Localizer["Body-application"].
                </div>
            }
            else
            {
                <div>
                    @Localizer["Body-Click"] <a asp-controller="Account" asp-action="Login">@Localizer["Body-here"]</a> @Localizer["Body-to-login"]

                </div>
            }
        </span>

    </div>
    @if (Model.SignOutIframeUrl != null)
    {
        <iframe style=" border: transparent;" width="0" height="0" class="signout" src="@Model.SignOutIframeUrl"></iframe>
    }
</div>

@section scripts
{
    @if (Model.AutomaticRedirectAfterSignOut)
    {
        <script src="@Url.Content("~/js/signout-redirect.js")"></script>
    }
}
