@model Jp.UI.SSO.Models.LogoutViewModel
@using JPProject.Domain.Core.Util
@using Microsoft.AspNetCore.Mvc.Localization
@using Org.BouncyCastle.Crypto.Engines
@inject IViewLocalizer Localizer
@{
    Layout = "~/Views/Shared/_LayoutExt3.cshtml";
}
<div class="vertical-centered">
    <!--start::Loading -->
    <div style="display: none" id="loading" class="signin-slider">
        <div class="CsLine"></div>
        <div class="subCsLine inc"></div>
        <div class="subCsLine dec"></div>
    </div>
    <!--end::Loading -->
    <div class="company_Logo p-12-44">
        @if (!string.IsNullOrEmpty(Model.ClientLogo))
        {
            <img src="@Model.ClientLogo" style="max-height: 50px !important;" alt="" />
        }
        else {
            <img src="assets/media/logos/logo-letter-13.png" style="max-height: 50px !important;" alt="" />
        }
    </div>
    <div id="description" class="d-flex align-items-center p-12-44">
        @if (!string.IsNullOrEmpty(Model.Client))
        {
            <span>
                @Localizer["Body-IdentityServer"].Value.Replace("{{client}}", Model.Client)
            </span>
        }
        else
        {
            <span>
                @Localizer["Body-IdentityServer"].Value.Replace("{{client}}", "Brickclay")
            </span>
        }

    </div>
    <form asp-action="Logout">
        <div class="d-flex align-items-center justify-content-start p-0-44 font-size-13 mt-35">
            <input type="hidden" name="logoutId" value="@Model.LogoutId" />
            <button onclick="showLoading(); " id="btn-yes" class="in-btn signIn-btn py-7 mr-7" aria-label="Sign-in options">@Localizer["Body-Yes"]</button>
            @if (Model.PostLogoutRedirectUri.IsMissing())
            {
                <a onclick="showLoading();" class="in-btn back-btn " asp-action="Index" asp-controller="Home">@Localizer["Body-No"]</a>
            }
            else
            {
                <a onclick="showLoading();" class="in-btn back-btn " href="@Model.PostLogoutRedirectUri">@Localizer["Body-No"]</a>
            }

        </div>
    </form>
</div>
<style>
    #description {
        margin-top: 10px;
    }
    #btn-yes {
        cursor: pointer;
        line-height: 20px;
        width: 80px;
    }
</style>