@model Jp.UI.SSO.Controllers.Consent.ConsentViewModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@{
    Layout = "~/Views/Shared/_LayoutExt3.cshtml";
}
<!--start::Permission requested-->
<div class="vertical-centered">
    <!--start::Loading -->
    <div style="display: none" class="signin-slider">
        <div class="CsLine"></div>
        <div class="subCsLine inc"></div>
        <div class="subCsLine dec"></div>
    </div>
    <!--end::Loading -->
    <div class="company_Logo p-12-44">
        @if (Model.ClientLogoUrl != null)
        {
            <img src="@Url.Content(Model.ClientLogoUrl)" style="max-height: 50px !important;" alt="" />
        }
    </div>
    <h1>@Model.ClientName @Localizer["Body-is requesting your permission"]</h1>
    @await Html.PartialAsync("_ValidationSummary")
    <form asp-action="Index">
        <input type="hidden" asp-for="ReturnUrl" />

        <div class="d-flex flex-column p-12-44">
            <label>This app would like to access:</label>
            @if (Model.IdentityScopes.Any())
            {
                <button type="button" class="accordion">@Localizer["Body-Personal-information"]</button>
                <div class="panel">
                    @foreach (var scope in Model.IdentityScopes)
                    {
                        <input type="hidden" asp-for="ScopesConsented" value="@scope.Name"/>
                        @*<partial name="_ScopeListItem" model="scope" />*@
                        <li>@scope.DisplayName</li>
                    }
                </div>
            }
            @if (Model.ResourceScopes.Any())
            {
                <button type="button" class="accordion">@Localizer["Body-Application-access"]</button>
                <div class="panel">
                    @foreach (var scope in Model.ResourceScopes)
                    {
                        <input type="hidden" asp-for="ScopesConsented" value="@scope.Name"/>
                        @*<partial name="_ScopeListItem" model="scope" />*@
                        <li>@scope.DisplayName</li>
                    }
                </div>
                        }

                    </div>
                    <div class="d-flex flex-column p-0-44 font-size-13">

                        <div class="d-flex flex-column">
                            <label>
                                <input class="switch-input"
                                       id="rememberConsent"
                                       type="checkbox"
                                       asp-for="RememberConsent"> @Localizer["Body-Remember-My-Decision"]
                                </label>
                                <p class="text-justify">
                                    Accepting these permission means that you allow this app to use your data as specified in their
                                    <a href="javascript:;">Terms & conditions. </a><a href="javascript:;"> Show details</a>
                                </p>
                            </div>

                            <div class="d-flex align-items-center justify-content-end font-size-13 p-0-44 font-size-13 pr-0 marginB-40">
                                <button name="button" value="no"
                                        onclick="showLoading()"
                                        class="in-btn back-btn py-7 mr-7"
                                        aria-label="can't access your account">
                                    @Localizer["Body-No-Do-Not-Allow"]
                                </button>

                                <button class="in-btn signIn-btn"
                                        name="button"
                                        onclick="showLoading()"
                                        autofocus
                                        value="yes"
                                        aria-label="Sign-in options">
                                    @Localizer["Body-Yes-Allow"]
                                </button>
                            </div>
                        </div>
                    </form>

            </div>
            <!--end::Permission requested-->
            <style>
                label {
                    margin-bottom: 13px;
                }
                .panel li {
                    list-style-type: square !important;
                    margin-top: 3px !important;
                    margin-bottom: 4px !important;
                    color: #565454;
                    padding-left: 3px;
                    font-size: 14px;
                    margin-bottom: 2px;
                }
                .in-btn {
                    padding: 10px 20px 10px 20px;
                }
                .vertical-centered {
                    padding: 10px 0;
                }
                h1 {
                    padding: 0 44px !important;
                }
            </style>
            <script>
                var accordions = document.getElementsByClassName("accordion");
                var i;

                for (i = 0; i < accordions.length; i++) {
                    var accordion = accordions[i];
                    var accordionPanel = accordion.nextElementSibling;

                    if (accordionPanel.children.length < 3) {
                        accordion.classList.toggle("active");
                        if (accordionPanel.style.maxHeight) {
                            accordionPanel.style.maxHeight = null;
                        } else {
                            accordionPanel.style.maxHeight = accordionPanel.scrollHeight + "px";
                        }
                    }
                    accordion.addEventListener("click", function () {
                        this.classList.toggle("active");
                        var panel = this.nextElementSibling;
                        if (panel.style.maxHeight) {
                            panel.style.maxHeight = null;
                        } else {
                            panel.style.maxHeight = panel.scrollHeight + "px";
                        }
                    });
                }
            </script>
